<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/icon.png" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Confirmation | Covid-19 Volunteering</title>
</head>
<body>
    <div class="text">
        <% if(error) { %><i class="fa fa-times-circle fa-2x" style="color: red;"></i><% } else { %><i class="fa fa-check-circle fa-2x" style="color: green;"></i><% } %>
        <p><%- confirmation %></p>
    </div>
</body>
</html>