<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/icon.png" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Covid-19 Volunteering</title>
</head>
<body>
    <div class="text"><p>Are you looking to help people during the pandemic as a volunteer or are you looking for a volunteer for your personal or organisational help? If yes, welcome aboard!</p></div>
    <a href="/volunteer"><div class="btn-volunteer btn">Become a volunteer <i class="fa fa-user-plus"></i> </div></a>
    <a href="/contact"><div class="btn-contact btn">Contact a volunteer <i class="fa fa-users"></i> </div></a>
</body>
</html>